images/*.jpg filter=lfs diff=lfs merge=lfs -text
images/*.png filter=lfs diff=lfs merge=lfs -text
images/*.jpg !text !filter !merge !diff
images/*.jpeg !text !filter !merge !diff
images/*.png !text !filter !merge !diff
images/*.webp !text !filter !merge !diff
